<div class="box">
    <div class="begin">จุดเริ่มต้นของ ESText</div>
    <br>
    <div class="content">
        ESText เป็น “เว็บไซต์แปลงเสียงสภาพแวดล้อมจากวิดีโอให้กลายเป็นข้อความ” <br>
        โดยการใช้เทคโนโลยีในปัจจุบันในการสร้างเว็บไซต์ที่สามารถตรวจสอบเสียงที่เกิดขึ้นใน <br>
        เหตุการณ์และอธิบายเสียงที่เกิดขึ้นในรูปแบบของข้อความ ที่ถูกพัฒนาขึ้นโดยนักศึกษา <br>
        ของมหาวิทยาลัยศิลปากร วิทยาเขตพระราชวังสนามจันทร์
    </div>
    <br>
    <a href="#">
        <button pButton pRipple type="button" class="p-button-raised">ดูรายละเอียด</button>
    </a>
</div>