@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.box{
    margin-top: 200px ;
    margin-left: 12%;
}
.begin {
    
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #000;
    text-decoration: none;
}
.content{
    text-indent: 4em;
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.p-button-raised,.p-button-raised:active,.p-button-raised:visited {
    background-color: #2864B0;
}
.p-button-raised:hover{
    background-color: #1a457e;
}
button {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
