* {
    font-family: 'Inter', sans-serif;
}

p {
    font-weight: bold;
    font-size: 36px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

body {
    margin: 0px 60px;
    background-color: #E5F2FF;
}

.result {
    width: 62%;
    float: left;
    font-size: 15px;
    padding-top: 2.5%;
}

.image{
    position: absolute;
    width: 29px;
    left: 435px;
    top: 163px;
}
div {
    width: 100%;
    text-align: center;
}

button {
    margin: 12px;
    cursor: pointer;
    padding: 12px 28px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #1a457e;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    transition-duration: 0.4s;
    right: 0px;
}

button:hover {
    cursor: pointer;
    background-color: #2864B0;
    color: white;
}

.cover {
    position: absolute;
    width: 750px;
    left: 336px;
    top: 228px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 444px;
    background: #D9D9D9;
    border-radius: 10px;
}

.drop-container {
    margin: 0px 280px;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 380px;
    background: #D9D9D9;
    padding: 20px;
    color: #444;
    border:8px solid #d0d0d0;
    border-radius:15px;
    width: 750px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #e3e2e2;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-size: 13px;
}

input[type=file]::file-selector-button {
    font-weight: bold;
    margin-right: 20px;
    border: none;
    background-color: #1a457e;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background-color: #2864B0;
}

.box {
    position: absolute;
    width: 750px;
    left: 336px;
    background: #D9D9D9;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}