* {
    font-family: 'Inter', sans-serif;
}

div {
    width: 100%;
    text-align: center;
}

button {
    margin: 12px;
    cursor: pointer;
    padding: 12px 28px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #1a457e;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    transition-duration: 0.4s;
    right: 0px; 
}

button:hover {
    cursor: pointer;
    background-color: #2864B0;
    color: white;
}

.drop-container {
    margin: 0px 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-size: 13px;
}

input[type=file]::file-selector-button {
    font-weight: bold;
    margin-right: 20px;
    border: none;
    background-color: #1a457e;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background-color: #2864B0;
}

.box{
    position: absolute;
    width: 750px;
    left: 336px;
    background: #D9D9D9;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
