<div class="nav">
    <app-navbar></app-navbar>
</div>
<body>
    <div class="begin">จุดเริ่มต้นของ ESText</div>
    <br>
    <div class="content">
        ESText มีวัตถุประสงค์เพื่อนำเสนอเว็บแอปพลิเคชัน ที่สามารถตรวจจับเสียง<br>
        ที่เกิดขึ้นในวิดีโอหรือไฟล์เสียงรวมทั้งสามารถดาวน์โหลดวิดีโอพร้อมซับบรรยาย<br> 
        เสียงสภาพแวดล้อมและซับบรรยายประโยคพูดจากมนุษย์ได้ ถูกพัฒนาโดย <br> 
        นางสาวชนัญญา เอี่ยมประโคน และ นางสาวนภัสสรา ทองโสภณ คณะวิทยาศาสตร์ <br> 
        สาขาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยศิลปากร
    </div>
    <br>
    <p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="ดูรายละเอียด"></p-button>
    <p-dialog [(visible)]="displayBasic" [style]="{width: '70vw'}">
        
        <p>การอยู่รวมกันของมนุษย์มีลักษณะความสัมพันธ์ทางสังคมที่แตกต่างกัน 
            ส่งผลให้เกิดสถานการณ์ที่ไม่คาดฝันจากหลายสาเหตุ เช่น 
            ความไม่ลงรอยกันในทางความคิดทำให้เกิดการทะเลาะวิวาทและอาจนำไปสู่
            การทำร้ายร่างกายหากไม่สามารถควบคุมอารมณ์และสติได้ ความประมาทเลินเล่อของมนุษย์ 
            ที่ทำให้เกิดอุบัติเหตุและอาจเกิดการสูญเสียได้ รวมถึงความโลภ ทำให้เกิดการโจรกรรม 
            ซึ่งสาเหตุเหล่านี้เป็นส่วนหนึ่งที่ทำให้มนุษย์กระทำสิ่งผิดกฎหมาย</p>
        <br>
        <p>ดังนั้นแต่ละสังคมจึงต้องมีกฎหมายเป็นเครื่องมือในการทำให้บุคคลในสังคมต้องปฏิบัติตามกฎเกณฑ์ 
        คำสั่ง หรือข้อบังคับ บุคคลใดที่ฝ่าฝืนจะต้องได้รับโทษตามที่กฎหมายกำหนด ซึ่งหนึ่งในกระบวนการทางกฎหมายที่เกิดขึ้น 
        คือ กระบวนการสืบสวน สอบสวน เพื่อค้นหา ตรวจสอบ และยืนยันหลักฐาน รวมไปถึงข้อเท็จจริงในเหตุการณ์ที่เกิดขึ้นว่าเป็นจริงหรือไม่ 
        เพื่อใช้ในการตัดสินโทษอย่างยุติธรรม โดยการตีความหลักฐานสามารถพิจารณาข้อมูลในหลักฐานได้จาก คำให้การจากพยานปาก สิ่งของ 
        ร่องรอย เครื่องมือ หรืออุปกรณ์ต่างๆ ที่อยู่ในบริเวณที่เกิดเหตุการณ์
        </p> 
        <br>
  
        
        <p> ในปัจจุบันที่เทคโนโลยีมีความก้าวหน้า และเข้ามามีบทบาทกับการดำเนินชีวิตมากขึ้น 
            ทำให้หลักฐานที่เกิดขึ้นนั้นไม่ได้มากจากการบอกเล่าหรือร่องรอย
            หลังจากเกิดเหตุการณ์เพียงอย่างเดียว ยังมาจากนวัตกรรมที่เกิดขึ้นตามยุคสมัย เช่น กล้องดิจิทัล กล้องวงจรปิด กล้องหน้ารถยนต์
            และโทรศัพท์มือถือ ที่สามารถบันทึกภาพเหตุการณ์เป็นวิดีโอที่ประกอบไปด้วยภาพและเสียงได้ ซึ่งสามารถใช้
            เป็นหลักฐานในการยืนยันความผิดและตรวจสอบเหตุการณ์ที่เกิดขึ้นได้ ถึงแม้ว่าในปัจจุบันจะมีนวัตกรรมเหล่านี้เป็น
            เครื่องมือสำคัญที่ช่วยให้การทำงานของผู้ที่เกี่ยวข้องเป็นไปอย่างสะดวกมากขึ้นแล้ว แต่ก็ยังพบว่าหลักฐานบางอย่าง
            มีความคลุมเครือและกำกวมที่ยังต้องการทราบถึงรายละเอียดต่างๆ ที่เกิดขึ้นในภาพเหตุการณ์เพื่อความชัดเจนมากยิ่งขึ้น 
            เช่น เสียงที่เกิดขึ้นมีเสียงอะไรบ้าง หรือมีเสียงคนพูดว่าอย่างไรบ้าง เพื่อป้องกันความเข้าใจที่ผิดพลาด 
            ซึ่งอาจจะเป็นเพียงจุดเล็กๆ ที่สามารถเปลี่ยนแปลงเรื่องราวที่เกิดขึ้นได้</p>
        <br>

       

        <p> จากปัญหาที่เกิดขึ้นจึงเป็นที่มาของโครงงาน “การสร้างต้นแบบตัวจำแนกเสียงในสภาพแวดล้อมและแปลงเสียงเป็นข้อความ” 
            โดยใช้โดยใช้อัลกอริทึมโครงข่ายประสาทเทียมแบบคอนโวลูชัน (CNN) ในการจำแนกเสียงสภาพแวดล้อม และสร้างเว็บแอปพลิเคชัน
            ที่สามารถตรวจสอบเสียงและคำพูดที่เกิดขึ้นในเหตุการณ์และอธิบายเสียงที่เกิดขึ้นในรูปแบบของข้อความ เพื่อใช้เป็นข้อมูลในการประกอบการตัดสินใจ 
            หรืออาจใช้เป็นหลักฐานในการยืนยันเหตุการณ์ที่เกิดขึ้นด้วยรายละเอียดที่ถูกต้อง ชัดเจน และมีประสิทธิภาพ รวมทั้งอาจทำให้สามารถตัดสินคดีความได้อย่างยุติธรรมยิ่งขึ้น </p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayBasic=false" label="ตกลง" styleClass="p-button-text">
            </p-button>
        </ng-template>
    </p-dialog>
    <div class="split right">
        <span class="dot"></span>
        <img src="../assets/img/about.png" width="850" >
    </div>


</body>
<footer>
    <div class="row">
        <div class="column">
            <h2>SERVICE</h2>
            <h1>สามารถดาวน์โหลดไฟล์วิดีโอพร้อมซับบรรยาย เสียงได้ สามารถคัดลอกและดาวน์โหลดข้อความ
                ที่ได้จากการประมวลผลของเว็บไซต์</h1>
        </div>

        <div class="column">
            <h2>HOW IT WORKS</h2> 
            <h1>
                ผู้ใช้สามารถใช้บริการแปลงเสียงเป็นข้อความได้ด้วยกดปุ่ม "Get Started" โดยผู้ใช้สามารถ
                อัปโหลดไฟล์เสียงและไฟล์วิดีโอได้เท่านั้น
            </h1>
        </div>

        <div class="column">
            <h2>RESULT</h2> 
            <h1>
                ผลลัพธ์หลังจากการประมวลผลอยู่ในรูปแบบซับบรรยายเสียง ที่บ่งบอกว่าภายในวิดีโอประกอบ
                ด้วยเสียงสภาพแวดล้อมและเสียงพูดว่าอย่างไร
            </h1>
        </div>

    </div>

</footer>