/* body {
  text-align: center;
  justify-content: center;
  align-items: center;
} */
.image{
  position: absolute;
  width: 29px;
  left: 435px;
  top: 163px;
}
.start-button {
  background-color: #bc1a1a;
  margin-top: 12px;
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
  right: 0px;
}

.stop-button {
  background-color: rgb(110, 110, 110);
  margin-left: 12px;
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
  right: 0px;
}
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}


.cancel-button {
  background-color: #3cac3f;
  margin-left: 12px;
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
  right: 0px;
}
.clear-button{
  background-color: #737272;
  margin-left: 12px;
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
  right: 0px;

}

.upload-button {
  background-color: #1a457e;
  margin-left: 12px;
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
  right: 0px;
}

