<div>
	<!-- <button class="start-button" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</button> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<button class="start-button" [disabled]="isRecording" (click)="startRecording()"><i class="fa fa-microphone" aria-hidden="true"></i> Start Recording</button>
	<!-- <button class="stop-button" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button> -->
	<button class="stop-button" *ngIf="isRecording" (click)="stopRecording()"><i class="fa fa-stop" aria-hidden="true"></i> Stop Recording</button>

	

	<button class="cancel-button" *ngIf="!isRecording && blobUrl" (click)="download()"><i class="fa fa-download"></i> Download Recording</button>
	<button class="clear-button" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()"><i class="fa fa-trash-o fa-lg"></i> Clear Recording</button>
	<button class="upload-button" *ngIf="!isRecording && blobUrl" (click)="upload()"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
	
	<br><br><br>
	
	<div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
	<div class="spinner" *ngIf="this.isSpinner">
        <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
            fill="var(--surface-ground)" animationDuration=".8s"></p-progressSpinner>
    </div>


	
	<div>
		<audio *ngIf="!isRecording && blobUrl && !isUpload" controls>
			<source [src]="blobUrl" type="audio/webm">
		</audio>
	</div>
	<a class="link" href="/Result">
        <div class="button">
            <button class="upload-button" *ngIf="this.isUpload">Get Process</button>
        </div>
	</a>
</div>