<div class="nav">
    <app-navbar></app-navbar>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap" rel="stylesheet">
<body>
<div class="box">
    <div class="split left">
        <br><br><br><br><br><br><br>
        <div class="content">
            <body class="webname">
                Environmental Sound <br>
                Classification <br>
                Web Application <br>
            </body>
            <br>

            <body class="webinfo">
                เว็บแอพพลิเคชันจากโครงงาน “ต้นแบบตัวจำแนกเสียงสภาพแวดล้อมและแปลงเป็นข้อความ”<br>
                จากการสร้าง model CNN ในการจำแนกเสียงสภาพแวดล้อมทั้งหมด 17 ประเภท<br>
                สามารถตรวจสอบเสียงที่เกิดขึ้นในเหตุการณ์จากไฟล์เสียงหรือวิดีโอ<br>
                และอธิบายเสียงที่เกิดขึ้นในรูปแบบของข้อความ<br>
            </body>
            <br>
            <a class="link" href="/FileUpload">
                <button pButton pRipple type="button" class="p-button-raised">Get Started</button>
            </a>
        </div>
    </div>
    <div class="split right">
        <span class="dot"></span>
        <img src="../assets/img/robot_website.png" width="500" >
    </div>
</div>